    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-datetimepicker.min.js"></script>
    <script src="/javascripts/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
      $("#recordDate").datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        pickDate: true,
        pickTime: false,
        todayBtn: true,
        autoclose: true,
        todayHightlight: true,
        startView: 2,
        minView: 2,
        forceParse: 0
      });
    </script>
  </body>
</html>