<% include header.ejs %>
  <div class="container">
    <div class="jumbotron">
      <h2>欢迎进入科科香 - 个人记账系统</h2>
      <p>记录点滴</p>
      <p><a class="btn btn-primary btn-lg" role="button" href="/login">开始使用</a></p>
      <p>我的个人博客: <a href="http://and1985129.github.io">http://and1985129.github.io</a> </p>
    </div>
  </div>
<% include footer.ejs %>
