<% include header.ejs %>
  <div class="col-sm-6 col-sm-offset-3">
    <div class="alert alert-info">
      您已退出登录, 欢迎下次访问
      <p>我的个人博客: <a href="http://and1985129.github.io">http://and1985129.github.io</a> </p>
    </div>
  </div>
<% include footer.ejs %>